<% if results.present? %>
  <h3 class="mb-4 mt-4">Results :</h3>

  <div class="row">
    <% results.each do |medium| %>
      <% if medium["first_publish_year"] %>
        <div class="search-media-cards col-md-3 mb-3 mt-3">

          <%# Image %>
          <div class="search-card-image">
            <% if medium["cover_edition_key"] %>
              <%= image_tag "https://covers.openlibrary.org/b/olid/#{medium["cover_edition_key"]}-M.jpg", alt: medium["title"], class: "search-card-image-left" %>
            <% else %>
              <div class="bg-secondary text-light d-flex align-items-center justify-content-center" style="height: 222px; width: 140px;">
                No Poster
              </div>
            <% end %>
          </div>

          <%# Texte %>

          <div class="search-card-body d-flex flex-column justify-content-between">
            <h5 class="card-title"><%= medium["title"] %></h5>
            <p class="card-text"><%= medium["first_publish_year"] %></p>

            <%# buttons %>

            <div class="list-icon">
                <%= render "shared/buttons/collection_card_button", medium: medium, medium_type: "book", year: medium["first_publish_year"]  %>
                <%= render "shared/buttons/like_card_button", medium: medium, medium_type: "book", year: medium["first_publish_year"]  %>
                <%= render "shared/buttons/next_up_card_button", medium: medium, medium_type: "book", year: medium["first_publish_year"]  %>
            </div>

            <div class="btn-more-details">
              <%= button_to "More details", create_record_media_path( medium: medium, medium_type: "book" ),
                    method: :post,
                    data: { turbo_frame: "_top" },
                    class: "btn btn-primary rounded-pill" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-warning">No books found</div>
<% end %>
<div class="d-flex justify-content-center mt-4">
  <%= link_to_prev_page results, '<< Previous Page', params: { format: :turbo_stream }, data: {turbo_method: :post} %>
  <%= link_to_next_page results, 'Next Page >>', params: { format: :turbo_stream }, data: {turbo_method: :post} %>
</div>
