<div class="container">

  <h1 class="mb-4 text-center">Your Next Up Media</h1>

  <% if @next_up_media.present? %>
    <div class="row">
      <% @next_up_media.each do |medium| %>
        <div class="list-media-cards col-md-3 mb-3 mt-3">

          <div class="list-card-image">
            <%= link_to medium_path(medium) do %>
              <%= image_tag medium.poster_url, alt: medium.title, class: "list-card-image-left"%>
            <% end %>
          </div>

          <div class="list-card-body d-flex flex-column align-item-start">
            <%= link_to medium_path(medium) do %>
              <h5 class="card-title mb-auto"><%= medium.title %></h5>
              <p class="card-text"><%= medium.year %> - <% if medium.sub_media_type == "Movie" %>
                <i class="fa-solid fa-video" style="color: #ffffffff; margin-right: 12px;"></i>
              <% elsif medium.sub_media_type == "Book" %>
                <i class="fa-solid fa-book-open" style="color: #ffffffff; margin-right: 12px;"></i>
              <% else %>
                <i class="fa-solid fa-gamepad" style="color: #ffffffff; margin-right: 12px;"></i>
              <% end %></p>
            <% end %>

            <div class="list-icon p-2">
              <%= render "shared/buttons/collection_button", medium: medium, location: "card"  %>
              <%= render "shared/buttons/like_button", medium: medium, location: "card"  %>
              <%= render "shared/buttons/next_up_button", medium: medium, location: "card"  %>
            </div>

            <div class="btn-more-details p-2">
                <%= link_to "More details", medium_path(medium), class: "btn btn-primary rounded-pill" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Start your Next Up now !</p>
  <% end %>


  <div class="d-flex justify-content-center mt-4">
    <%= paginate @next_up_media %>
  </div>

</div>
