<div data-controller="collection-icon"
  data-collection-icon-title-movie-value="<%=medium["Title"]%>"
  data-collection-icon-id-movie-value="<%=medium["imdbID"]%>"
  data-collection-icon-title-book-value="<%=medium["title"]%>"
  data-collection-icon-id-book-value="<%=medium["key"]%>"
  data-collection-icon-cover-book-value="<%=medium["cover_edition_key"]%>"
  data-collection-icon-author-book-value="<%=medium["author_name"]%>"
  data-collection-icon-title-game-value="<%=medium["name"]%>"
  data-collection-icon-id-game-value="<%=medium["id"]%>"
  data-collection-icon-cover-game-value="<%=medium["cover"]%>"
  data-collection-icon-developer-value="<%=medium["developer"]%>"
  data-collection-icon-publisher-value="<%=medium["publisher"]%>"
  data-collection-icon-platforms-value="<%=medium["platforms"]%>"
  data-collection-icon-story-duration-value="<%=medium["main_story_duration"]%>"
  data-collection-icon-extras-duration-value="<%=medium["main_extras_duration"]%>"
  data-collection-icon-completionist-duration-value="<%=medium["completionist_duration"]%>"
  data-collection-icon-year-value="<%=year%>"
  data-collection-icon-medium-type-value="<%=medium_type%>"
  data-collection-icon-settings-value="collection"
  data-collection-icon-location-value="<%=location%>">
  <button data-action="click->collection-icon#toggleCollection">
    <i class="fa-regular fa-eye" data-collection-icon-target="icon"></i>
  </button>
</div>
