<div id="home-header">
  <div class="container">
    <h1 class="home-title">Watch, play, read : collect!</h1>

    <a href="/media" id="btn-cta-home">Start your collection</a>
  </div>
</div>

<div class="container home-media-card">

  <div class="img-container">
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366834/movie-dune-2021_ewfs2q.jpg" alt="Dune Part One movie poster">

    </div>
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366832/zelda-poster_zxrylr.webp" alt="Zelda Tears of Kingdom video game poster">

    </div>

    <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366834/lotr-book-cover_ohywyc.jpg" alt="The Lord of The Rings book cover" id="img-center">
  </div>
  <div class="media-card-content">
    <h2>All in the same place</h2>

    <p><strong>The first platform that brings together all your passions</strong></p>

    <p>Find all your favorite video games, movies, and books in one place. A platform that lets you collect completed works or discover the next masterpieces you'll love exploring!</p>

    <%= link_to media_path do  %>
    <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #FBC500;"></i>
    <% end %>

  </div>
</div>

<div class="container home-media-card">

  <div class="img-container">
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765383612/baldurs-gate-video-game-poster_dsqraw.jpg" alt="Baldur's Gate 3 video game poster">

    </div>
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366831/the-matrix-movie-poster_m1vmkk.jpg" alt="The Matrix movie poster">

    </div>

    <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366797/book-dune_extbs6.jpg" alt="Dune Frank Herbert book cover" id="img-center">
  </div>

  <div class="media-card-content">
    <h2>Create your own collection</h2>

    <p><strong>Gather everything you have read, seen or played</strong></p>

    <p>With MediaTrackr, you can create a collection that gathers all the media you've watched, played, or even read. Rate them, comment on them, set your favorites, and share your collection with your friends!</p>

    <%= link_to collections_path do  %>
      <i class="fa-solid fa-bookmark fa-xl" style="color: #FBC500;"></i>
    <% end %>


  </div>
</div>

<div class="container home-media-card">

  <div class="img-container">
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765386494/mario-party-video-game_grewi6.jpg" alt="Mario Party video game cover">

    </div>
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765386584/silence-des-agneaux-book-cover_p0p5xy.jpg" alt="Le silence des agneaux book cover">

    </div>

    <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765386671/the-god-father-movie-poster_nfduz6.jpg" alt="The Godfather movie poster" id="img-center">
  </div>

  <div class="media-card-content">
    <h2>Schedule your next session</h2>

    <p><strong>List everything you would like to do</strong></p>

    <p>Looking for the next movie for your Saturday night? The next video game for a night with friends? Find it and schedule your session!</p>

    <%= link_to next_up_path do %>
      <i class="fa-solid fa-calendar fa-xl" style="color: #FBC500;"></i>
    <% end %>

  </div>
</div>

<div class="container home-media-card">

  <div class="img-container">
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366831/the-good-the-bad-the-ugly_owghwo.jpg" alt="The Good, The Bad and The Ugly movie poster">

    </div>
    <div>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765385120/the-name-of-the-wind-book_ddhzom.jpg" alt="The Name of the Wind book cover">

    </div>

    <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765385213/hades-video-game-poster_kf7oyh.jpg" alt="Hades video game poster" id="img-center">
  </div>



  <div class="media-card-content">
    <h2>Create your own list of favorites</h2>

    <p><strong>List your greatest classics</strong></p>

    <p>With MediaTrackr, you can create a collection that gathers all the media you've watched, played, or even read. Rate them, comment on them, set your favorites, and share your collection with your friends!</p>

    <%= link_to likes_path do %>
      <i class="fa-solid fa-heart fa-xl" style="color: #FBC500;"></i>
    <% end %>

  </div>
</div>



<div class="container" id="log-infos">


  <% if user_signed_in? %>
    You are signed in as <%= current_user.user_name %>
    <div>
      Your email is <%= current_user.email %>
    </div>
    <div>
      <%= link_to "Edit my profile", edit_user_registration_path, class: "btn btn-flat btn-edit" %>
    </div>
    <div>
      <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-flat btn-signout" %>
    </div>
  <% else %>
    You are not signed in!
  <% end %>


</div>
