<div class="container my-5 text-light p-5 rounded shadow" id="media-index-container">
  <h2 class="mb-4 text-center">Search for a movie <i class="fa-solid fa-magnifying-glass"></i></h2>

  <%= form_with url: search_from_omdb_media_path, method: :post, data: { turbo_stream: true }, class: "input-group shadow-sm" do %>
    <%= text_field_tag :title, nil, class: "form-control form-control-lg", placeholder: "Enter a movie title..." %>
    <button class="btn btn-primary btn-lg rounded-pill ms-2" type="submit">
      <i class="bi bi-search"></i> Search
    </button>
  <% end %>

  <turbo-frame id="omdb_results" class="mt-4">
    <%# Display de la liste de films provenant d'OMDB %>
  </turbo-frame>

  <h2 class="mb-4 text-center mt-4">Search for a book <i class="fa-solid fa-magnifying-glass"></i></h2>

  <%= form_with url: search_from_open_library_media_path, method: :post, data: { turbo_stream: true }, class: "input-group shadow-sm" do %>
    <%= text_field_tag :title, nil, class: "form-control form-control-lg", placeholder: "Enter a book title..." %>
    <button class="btn btn-primary btn-lg rounded-pill ms-2" type="submit">
      <i class="bi bi-search"></i> Search
    </button>
  <% end %>

  <turbo-frame id="open_library_results" class="mt-4">
    <%# Display de la liste de livres provenant d'Open Library %>
  </turbo-frame>

  <h2 class="mb-4 text-center mt-4">Search for a game <i class="fa-solid fa-magnifying-glass"></i></h2>

  <%= form_with url: search_from_igdb_media_path, method: :post, data: { turbo_stream: true }, class: "input-group shadow-sm" do %>
    <%= text_field_tag :title, nil, class: "form-control form-control-lg", placeholder: "Enter a game title..." %>
    <button class="btn btn-primary btn-lg rounded-pill ms-2" type="submit">
      <i class="bi bi-search"></i> Search
    </button>
  <% end %>

  <turbo-frame id="igdb_results" class="mt-4">
    <%# Display de la liste de jeux provenant d'IGDB %>
  </turbo-frame>

</div>
