<div class="container">

  <h1 class="mb-4">
    Results for "<%= params[:title] %>"
  </h1>

  <%= link_to "â† New search", media_path, class: "btn btn-link mb-3" %>

  <% if @results.present? %>
    <div class="row">
      <% @results.each do |result| %>
        <div class="search-media-cards col-md-3 mb-3 mt-3">

          <%# Image %>
          <div class="search-card-image">
            <% if result["poster_url"] != "N/A" && result["poster_url"]%>
              <%= image_tag result["poster_url"], alt: result["title"], class: "search-card-image-left" %>
            <% else %>
              <div class="bg-secondary text-light d-flex align-items-center justify-content-center" style="height: 200px; width: 140px;">
                No Poster
              </div>
            <% end %>
          </div>

          <%# Texte %>

          <div class="search-card-body d-flex flex-column justify-content-between">
            <h5 class="card-title"><%= result["title"] %></h5>
            <p class="card-text"><%= result["year"] %></p>

            <%# buttons %>

            <div class="list-icon">
              <%= render "shared/buttons/collection_card_button", medium: result, location: "card"  %>
              <%= render "shared/buttons/like_card_button", medium: result, location: "card"  %>
              <%= render "shared/buttons/next_up_card_button", medium: result, location: "card"  %>
            </div>

            <div class="btn-more-details">
              <%= link_to "More details", medium_path(result),
                class: "btn btn-primary rounded-pill" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No results found.</p>
  <% end %>

  <% if @results.present? %>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to_prev_page @results, '<< Previous Page', params: { medium_type: params[:medium_type], title: params[:title] } %>
      <%= link_to_next_page @results, 'Next Page >>', params: { medium_type: params[:medium_type], title: params[:title] } %>
    </div>
  <% end %>
</div>
