<div class="container mt-3 ">
  <div class="row align-items-start min-vh-40">

    <div class="col-md-4">
      <div class="banner rounded shadow-sm" id="background-show">
        <img src="<%= @medium.poster_url %>" class="background-image">
        <img src="<%= @medium.poster_url %>" alt=" <%= @medium.title %> Poster" class="foreground-image">
      </div>
    </div>


    <div class="col-md-8">
      <div class="rounded shadow p-4 h-100" id="media-description">
        <h1 class="mb-3"><%= @medium.title %></h1>

        <div class="d-flex justify-content-evenly">
          <p class="mb-4">
            <% if @medium.genres.present? %>
              <%= @medium.genres.join(' <i class="fa-solid fa-circle fa-2xs" style="color:#FBC500;"></i> ').html_safe %>
            <% else %>
              N/A
            <% end %>
          </p>

        </div>

        <p class="mb-4">
          <strong>Release date:</strong>
          <% if @medium.year.present? %>
            <%= @medium.year %>
          <% else %>
            N/A
          <% end %>
        </p>

        <% if @medium.sub_media_type === "Movie" %>
        <p class="mb-4">
          <strong>Directors:</strong>
          <% if @medium.sub_media.directors.present? %>
            <%= @medium.sub_media.directors.join(", ") %>
          <% else %>
            N/A
          <% end %>
        </p>
        <% elsif @medium.sub_media_type === "Book" %>
          <p class="mb-4">
            <strong>Authors:</strong>
            <% if @medium.sub_media.authors.present? %>
              <%= @medium.sub_media.authors.join(", ") %>
            <% else %>
              N/A
            <% end %>
          </p>
        <% else %>
          <%# DISPLAY GAMES INFO %>
        <% end %>
        <p class="mb-4">
          <strong>Description:</strong>
          <% if @medium.description.present? %>
            <%= @medium.description %>
          <% else %>
            N/A
          <% end %>
        </p>

        <p>
          <% if user_review = Review.find_by(medium_id: @medium.id, user_id: current_user.id) %>
            <strong>Review:</strong>
            <%= user_review.content %> <i class="fa-solid fa-circle fa-2xs" style="color:#FBC500;"></i> <%= user_review.rating %> ⭐
          <% end %>
        </p>
        <div class="container mt-3">
            <div class="row">
              <div class="col text-center">
                <div class="d-flex justify-content-between gap-2 flex-wrap" id="group-btn-list">
                  <%= render "shared/buttons/chat_button", medium: @medium %>
                  <%= render "shared/buttons/collection_button", medium: @medium %>
                  <%= render "shared/buttons/like_card_button", medium: @medium, medium_type: @medium.sub_media_type.downcase, year: @medium.year  %>
                  <%= render "shared/buttons/next_up_card_button", medium: @medium, medium_type: @medium.sub_media_type.downcase, year: @medium.year  %>
                  <%= render "shared/buttons/review_button", medium: @medium %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
