<div class="container mt-3 ">
  <div class="row align-items-start min-vh-40">

    <div class="col-md-4">
      <div class="banner rounded shadow-sm" id="background-show">
        <img src="<%= @medium.poster_url %>" class="background-image">
        <img src="<%= @medium.poster_url %>" alt=" <%= @medium.title %> Poster" class="foreground-image">
      </div>
    </div>

    <div class = "mt-4 list-buttons-show-page">
      <div class = "buttons-top-show-page">
        <%= render "shared/buttons/like_card_button", medium_id: @medium.id, medium: @medium, medium_type: @medium.sub_media_type.downcase, year: @medium.year, location: "show"   %>
      </div>
      <div class = "buttons-top-show-page">
        <%= render "shared/buttons/next_up_card_button", medium_id: @medium.id, medium: @medium, medium_type: @medium.sub_media_type.downcase, year: @medium.year, location: "show"   %>
      </div>
      <div class = "buttons-top-show-page">
        <%= render "shared/buttons/collection_card_button", medium_id: @medium.id, medium: @medium, medium_type: @medium.sub_media_type.downcase, year: @medium.year, location: "show" %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="rounded shadow p-4 h-100" id="media-description">
        <h1 class="mb-3"><%= @medium.title %></h1>

        <% if @medium.genres.present? %>
          <div class="d-flex justify-content-evenly">
            <p class="">
              <%= @medium.genres.join(' <i class="fa-solid fa-circle fa-2xs" style="color:#FBC500;"></i> ').html_safe %>
            </p>
          </div>
        <% end %>

        <% if @medium.description.present? %>
          <p class="show-description">
            <%= @medium.description %>
          </p>
        <% end %>

        <% if @medium.year.present? %>
          <p>
            <strong>Year:</strong>
            <%= @medium.year %>
          </p>
        <% end %>

        <% if @medium.sub_media_type === "Movie" %>

          <% if @medium.sub_media.directors.present? %>
            <p class="show-section">
              <strong>Directors:</strong>
              <%= @medium.sub_media.directors.join(", ") %>
            </p>
          <% end %>

          <% if @medium.sub_media.writers.present? %>
            <p class="show-section">
              <strong>Writers:</strong>
              <%= @medium.sub_media.writers.join(", ") %>
            </p>
          <% end %>

          <% if @medium.sub_media.actors.present? %>
            <p class="show-section">
              <strong>Cast:</strong>
              <%= @medium.sub_media.actors.join(", ") %>
            </p>
          <% end %>

          <% if @medium.sub_media.countries.present? %>
            <p class="show-section">
              <strong>Countries:</strong>
              <%= @medium.sub_media.countries %>
            </p>
          <% end %>

          <% if @medium.sub_media.languages.present? %>
            <p class="show-section">
              <strong>Languages:</strong>
              <%= @medium.sub_media.languages %>
            </p>
          <% end %>

          <% if @medium.sub_media.runtime.present? %>
            <p class="show-section">
              <strong>Runtime:</strong>
              <%= @medium.sub_media.runtime %> min
            </p>
          <% end %>

        <% elsif @medium.sub_media_type === "Book" %>
          <% if @medium.sub_media.authors.present? %>
            <p class="show-section">
              <strong>Authors:</strong>
              <%= @medium.sub_media.authors.join(", ") %>
            </p>
          <% end %>

          <% if @medium.sub_media.amount_pages.present? %>
            <p class="show-section">
              <strong>Amount pages:</strong>
              <%= @medium.sub_media.amount_pages %>
            </p>
          <% end %>

        <% else %>

          <% if @medium.sub_media.developers.present? %>
            <p class="show-section">
              <strong>Developers:</strong>
              <%= @medium.sub_media.developers.join(", ") %>
            </p>
          <% end %>


          <% if @medium.sub_media.publisher.present? %>
            <p class="show-section">
              <strong>Publishers:</strong>
              <%= @medium.sub_media.publisher %>
            </p>
          <% end %>


          <% if @medium.sub_media.platforms.present? %>
            <p class="show-section">
              <strong>Platforms:</strong>
              <%= @medium.sub_media.platforms.join(", ") %>
            </p>
          <% end %>


          <% if @medium.sub_media.main_story_duration.present? %>
            <p class="show-section">
              <strong>Story duration:</strong>
              <%= @medium.sub_media.main_story_duration.to_i  / 3600 %> hrs
            </p>
          <% end %>


          <% if @medium.sub_media.main_extras_duration.present? %>
            <p class="show-section">
              <strong>Average duration:</strong>
              <%= @medium.sub_media.main_extras_duration.to_i / 3600 %> hrs
            </p>
          <% end %>


          <% if @medium.sub_media.completionist_duration.present? %>
            <p class="show-section">
              <strong>Completionist duration:</strong>
              <%= @medium.sub_media.completionist_duration.to_i  / 3600 %> hrs
            </p>
          <% end %>
        <% end %>


          <div class="col text-center">
            <div class="d-flex justify-content-between gap-2 flex-wrap">
              <% if user_review = Review.find_by(medium_id: @medium.id, user_id: current_user.id) %>
                <p class="show-title-review">
                  <strong>Review</strong>  <%= user_review.rating %> ⭐
                </p>
                <p class="show-section-review">
                  <%= user_review.content %>
                </p>
              <% end %>
              <%= render "shared/buttons/review_button", medium: @medium %>
              <%= render "shared/buttons/chat_button", medium: @medium %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
