<% if results.present? %>
  <h3 class="mb-4 mt-4">Results :</h3>

  <div class="row">
    <% results.each do |medium| %>
   <% if medium["Year"] %>
      <div class="search-media-cards col-md-3 mb-3 mt-3">

        <%# Image %>
        <div class="search-card-image">
          <% if medium["Poster"] != "N/A" %>
            <%= image_tag medium["Poster"], alt: medium["Title"], class: "search-card-image-left" %>
          <% else %>
            <div class="bg-secondary text-light d-flex align-items-center justify-content-center" style="height: 200px; width: 140px;">
              No Poster
            </div>
          <% end %>
        </div>

        <%# Texte %>

        <div class="search-card-body d-flex flex-column justify-content-between">
          <h5 class="card-title"><%= medium["Title"] %></h5>
          <p class="card-text"><%= medium["Year"] %></p>

          <%# buttons %>

          <div class="list-icon">
            <%= render "shared/buttons/collection_card_button", medium: medium, medium_type: "movie", year: medium["Year"]  %>
            <%= render "shared/buttons/like_card_button", medium: medium, medium_type: "movie", year: medium["Year"]  %>
            <%= render "shared/buttons/next_up_card_button", medium: medium, medium_type: "movie", year: medium["Year"]  %>
            <i class="fa-solid fa-bookmark fa-lg" style="color: #FBC500;"></i>
            <i class="fa-solid fa-circle-plus fa-lg" style="color: #FBC500;"></i>
            <i class="fa-solid fa-heart fa-lg" style="color: #FBC500;"></i>
          </div>

          <div class="btn-more-details">
            <%= button_to "More details", create_from_omdb_media_path(imdb_id: medium["imdbID"]),
                  method: :post,
                  data: { turbo_stream: true },
                  class: "btn btn-primary rounded-pill" %>
          </div>
        </div>
      </div>
  <% end %>
    <% end %>

  </div>

<% else %>
  <div class="alert alert-warning">No movies found</div>
<% end %>
