<div class="container my-5 bg-dark text-light p-5 rounded shadow">
  <h1 class="mb-4 text-center">My reviews</h1>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm">
          <%= link_to medium_path(review.medium) do %>
            <%= image_tag review.medium.poster_url, alt: review.medium.title, class: "card-img-top"%>
          <% end %>
          <div class="card-body">
            <%= link_to medium_path(review.medium) do %>
              <h5 class="card-title"><%= review.medium.title %></h5>
              <p class="card-text"><%= review.content %></p>
              <p class="card-text"><%= review.rating %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
