<div class="container my-5 bg-dark text-light p-5 rounded shadow">
  <h1 class="mb-4 text-center">New Review for <%= @medium.title %></h1>
  <div class="row">
      <button type="button" class="btn btn-flat mb-3" data-bs-toggle="modal" data-bs-target="#reviewModal">
        Add a Review ✏️
      </button>

      <!-- Reviews List -->
      <% @medium.reviews.each do |review| %>
        <% if review.user_id === current_user.id %>
          <div class="card mb-3">
            <div class="card-header">
              Review created at <%= review.created_at.strftime("%H:%M - %b %d, %Y") %>
            </div>
            <div class="card-body">
              <figure>
                <blockquote class="blockquote">
                  <p><%= review.content %></p>
                </blockquote>
                <figcaption><%= review.rating %> ⭐</figcaption>
              </figure>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= render "modal" %>
      <div class="mt-4">
        <%= link_to "<- Back to media", medium_path(@medium) %>
      </div>
  </div>
</div>
