<h1>New Review for <%= @medium.title %></h1>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @medium.reviews.each do |review| %>
  <li class="list-group-item"><%= review.content %></li>
  <li class="list-group-item"><%= review.rating %></li>
  <% end%>
</ul>

<%= simple_form_for [@medium, @review] do |f| %>
  <%= f.input :content  %>
  <%= f.input :rating, collection: 1..5 %>
  <%= f.submit "Submit Review" %>
<% end %>
