<div class="container my-5 bg-dark text-light p-5 rounded shadow">
  <h1 class="mb-4 text-center">New Review for <%= @medium.title %></h1>
  <div class="row">
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#reviewModal">
        Add New Review
      </button>

      <!-- Reviews List -->
      <p><strong>Reviews</strong></p>
      <ul class="list-group">
        <% @medium.reviews.each do |review| %>
        <li class="list-group-item text-black"><%= review.content %> | <%= review.rating %>/5 from <%= current_user.user_name %> </li>
        <% end %>
      </ul>
      <%= render "modal" %>
  </div>
</div>
