<%= link_to "<- Back to Media", medium_path(@medium), class: "p-2 mx-2" %>
<div class="new-review container my-5 text-light p-5">

  <h1 class="mb-4 text-center"><%= @medium.title %> - <%= @medium.year %></h1>
  <div class="row justify-content-center">
    <%= image_tag @medium.poster_url, alt: @medium.title, class: "new-review-image" %>
    <div class="text-center mb-4 mt-4">
      <button type="button" class="btn btn-cta" data-bs-toggle="modal" data-bs-target="#reviewModal">
       <i class="fa-solid fa-pencil"></i> Review
      </button>
    </div>


      <!-- Reviews List -->
    <div class="review">
      <% @medium.reviews.each do |review| %>
        <% if review.user_id === current_user.id %>
          <div class="card-body mt-3">
            <p><%= review.content %> | <%= review.rating %> ⭐</p>
            <p>Review created at <%= review.created_at.strftime("%H:%M - %b %d, %Y") %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= render "modal" %>

  </div>
</div>
